[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
setuptools = {editable = true, file = "file:///Users/domenico/dev/once"}
"aws-cdk.core" = ">=1.45"
"aws-cdk.aws-apigatewayv2" = ">=1.45"
"aws-cdk.aws-dynamodb" = ">=1.45"
"aws-cdk.aws-lambda" = ">=1.45"
"aws-cdk.aws-s3" = ">=1.45"
click = "*"
requests = "*"
Pygments = "*"
urllib3 = {editable = true, file = "file:///Users/domenico/dev/once"}
"aws-cdk.aws-certificatemanager" = ">=1.45"
"aws-cdk.aws-cloudformation" = ">=1.45"
"aws-cdk.aws-events" = ">=1.45"
"aws-cdk.aws-events-targets" = ">=1.45"
"aws-cdk.aws-logs" = ">=1.45"
"aws-cdk.aws-route53" = ">=1.45"

[requires]
python_version = "3.7"
